<h3> Hello World </h3>
<p> from the say controller hello action </p>


<%= %> <!--presentation tag  -->
<% %> <!-- evaluation tag -->

<% names = ["suresh" , "ramesh" , "veeresh" ,"mahesh" , "somesh"] %>

<h3> listing names </h3>

<ul>

<%names.each do |name| %>
   
   <li> <%= name %> </li>

	<%end %>
	</ul>

	<h3> listing clients </h3>


	<p> Total Clients : <%=@clients.size %> </p>

	<ol>

	<% @clients.each do |client| %>
            <li> <%= client.name %> , <%=client.company %> </li>
            <% end %>
            </ol>
 <table border="2">
 <thead>
 <th> Sl no </th>
 <th> name </th>
 <th> company </th>
 <th> mobile </th>
 <th> website</th>
 </thead>
 <tbody>
 <% @clients.each_with_index do |client,index| %>
 <tr>
 <td> <%= index +1 %> </td>
 <td> <%= client.name %>  </td>
 <td> <%= client.company %>  </td>
 <td> <%= client.mobile %> </td>
 <td> <%= client.website %> </td>
</tr>
<% end %>
