

<%= form_for @client do |f| %>

<% if @client.errors.any? %>
<div class="errors" style="color:red" %>
<ul>
<% for msg in @client.errors.full_messages %>
<li> <%=msg%> </li>
<%end %>
</ul>
</div>
<%end%>

	<label> Name </label> <br/>
	<%= f.text_field :name %> <br/>
	
    <label> Company </label> <br/>
	<%= f.text_field :company %> <br/>
	
	<label> Website </label> <br/>
	<%= f.text_field :website %> <br/>

	<label> Email </label> <br/>
	<%= f.email_field :email %> <br/>

	<label> Mobile </label> <br/>
	<%= f.text_field :mobile%> <br/>

     <%= f.fields_for :bank_detail do |bank| %>  <!-- bank_Detail :model -->
        <div class="field">
        <label>Account No </label> <br/>
        <%= bank.text_field :acc_no %>
        </div>
        <div class="field">
        <label>Bank name </label> <br/>
        <%= bank.text_field :bank_name%>
        </div>
        <div class="field">
        <label>Tin num</label> <br/>
        <%= bank.text_field :tin_number %>
        </div>
        <% end%>
	<%=f.submit "Submit" ,class: 'btn btn-primary'%>
	<%end%>